# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment variables
.env

# Logs and temporary files
*.log
*.tmp

# Build files
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/
